@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.75rem;
  font-feature-settings: "ss02";
}

@layer components {
  .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
  .submenu-active::before {
    @apply absolute content-[""] w-1 h-1 bg-orange-300 rounded-full top-0 right-0 bottom-0 m-auto;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

.offer {
  position: relative;
}
.offer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  margin: auto;
  background-color: #ef4444;
  inset: 0;
  top: -2px;
}

.swal-modal {
  box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
}

.swal-button-container {
  margin: 1rem auto !important;
  width: 60%;
}

.swal-button {
  width: 100%;
}

.swal-footer {
  text-align: center;
  display: flex;
  gap: 1rem;
}
